@font-face
    font-family: 'robotoregular'
    src: url('/fonts/roboto/robotoregular/rr.eot')
    src: url('/fonts/roboto/robotoregular/rr.eot?#iefix') format('embedded-opentype'), url('/fonts/roboto/robotoregular/rr.woff') format('woff'), url('/fonts/roboto/robotoregular/rr.ttf') format('truetype'), url('/fonts/roboto/robotoregular/rr.svg#robotoregular') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'birthstone'
    src: url('/fonts/bsb/bsb-r.eot')
    src: url('/fonts/bsb/bsb-r.eot?#iefix') format('embedded-opentype'), url('/fonts/bsb/bsb-r.woff') format('woff'), url('/fonts/bsb/bsb-r.ttf') format('truetype'), url('/fonts/bsb/bsb-r.svg#birthstone') format('svg')
    font-weight: normal
    font-style: normal

